<form (ngSubmit)="createMovie()" #movieForm="ngForm">
  <div>
    <label for="title">Title:</label>
    <input id="title" name="title" [(ngModel)]="movie.title" required />
  </div>
  <div>
    <label for="genre">Genre:</label>
    <input id="genre" name="genre" [(ngModel)="movie.genreID" required />
  </div>
  <div>
    <label for="releaseDate">Release Date:</label>
    <input
      id="releaseDate"
      name="releaseDate"
      [(ngModel)]="movie.releaseDate"
      required
    />
  </div>
  <div>
    <label for="director">Director:</label>
    <input
      id="director"
      name="director"
      [(ngModel)]="movie.director"
      required
    />
  </div>
  <div>
    <label for="rating">Rating:</label>
    <input id="rating" name="rating" [(ngModel)]="movie.rating" required />
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea
      id="description"
      name="description"
      [(ngModel)]="movie.description"
      required
    ></textarea>
  </div>
  <button type="submit" [disabled]="!movieForm.valid">Create Movie</button>
</form>
